

.index-links > li, li {
    list-style-type: none;
    padding-bottom: 30px;
}

li {
  padding-bottom: 15px;  
}

.index-anchor {
    text-decoration: none;
    font-size: 32px;
}

.container-index, .container-katsu, .container-teriyaki, .container-ramen {
    text-align: center;
}

.container-katsu, .container-teriyaki, .container-ramen {
    font-size: 24px;
}

.index-title {
    padding-left: 40px;
}

.index-title, .katsu-title {
    font-size: 48px;
}

.return-links {
    font-size: 24px;
    text-decoration: none;
    padding-bottom: 20px;
}

a, a:visited, a:active {
    color: inherit;
}

a:hover {
    color: red;
}