* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3 {
    color: #fff;
    margin: 20px 0 20px 0;
    text-align: center;
}

.anchor-links {
    margin-top: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    
}

.home-anchor {
    margin: 20px;
    text-align: center;
}

a:active, a:visited {
    color: #fff;
}

a:hover {
    color: red;
}

.anchor-home {
    text-align: center;
    margin-bottom: 100px;
}

li , p{
    color: #fff;
    text-align: center;
}

li {
    margin-top: 10px;
}